%article
  %h3
    = @post.title
    %small.pull-right
      By
      %strong= @post.user.email

  = raw @text_html

  %section.comments
    %h5 Comments
    = render partial: 'comment', collection: @post.comments

  = link_to 'Add comment', new_post_comment_path(@post), class: "btn btn-info"
