<!DOCTYPE html>
<html>
<head>
  <title>Goulash</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<nav>
  <%= link_to 'Home', '/' %>
  <%= link_to 'New post', new_post_path %>

  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
</nav>

<%= yield %>

</body>
</html>
