<!DOCTYPE html>
<html>
<head>
  <title>Goulash</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'New post', new_post_path %></li>
      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% flash.each do |key, value| %>
        <div class='flash' id='<%= key %>'>
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </div>

</body>
</html>
